#root {
  height: 100vh;
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

body {
  background-color: var(--gray-000);
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  color: var(--gray-800);
  font-size: 16px;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

a {
  color: var(--gray-900);
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.125rem;
  text-decoration-color: var(--green);
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--green);
    text-decoration-color: var(--green-pure);
  }
}

:root {
  /* --gray-000: #f9f9f9;
  --gray-025: #f8f8f8;
  --gray-050: #efedee;
  --gray-075: #e6e3e4;
  --gray-100: #dcd9da;
  --gray-150: #d3cfd0;
  --gray-200: #c8c0c2;
  --gray-250: #b7b0b2;
  --gray-300: #a89fa1;
  --gray-350: #9b9195;
  --gray-400: #93878b;
  --gray-450: #7e7377;
  --gray-500: #72666a;
  --gray-550: #60575a;
  --gray-600: #5a5154;
  --gray-650: #4b4447;
  --gray-700: #474042;
  --gray-750: #373233;
  --gray-800: #323033;
  --gray-850: #2c282a;
  --gray-900: #272324; */

  --gray-000: #fafafa;
  --gray-025: #f8f8f8;
  --gray-050: #f6f6f6;
  --gray-075: #f2f2f2;
  --gray-100: #ededed;
  --gray-125: #e3e3e3;
  --gray-150: #d9d9d9;
  --gray-200: #cfcfcf;
  --gray-250: #bcbcbc;
  --gray-300: #a8a8a8;
  --gray-350: #949494;
  --gray-400: #818181;
  --gray-450: #6d6d6d;
  --gray-500: #5a5a5a;
  --gray-550: #464646;
  --gray-600: #323232;
  --gray-700: #292929;
  --gray-800: #1f1f1f;
  --gray-900: #151515;

  --border-color: var(--gray-125);

  --paper: #fffefb;

  --yellow-pure: rgba(255, 239, 68, 1);
  --yellow: rgba(255, 239, 68, 0.5);

  --green-pure: rgba(59, 111, 65, 1);
  --green: rgba(59, 111, 65, 0.2);

  --haven-green-light: #74a197;
  --haven-green: #39796b;
  --haven-gold: #c6a66a;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.75rem;

  --app-header-height: 3.75rem;
}

/* Gelica */
@font-face {
  font-family: 'Gelica';
  src: url('/assets/fonts/gelica-black-webfont.woff2') format('woff2'), url('/assets/fonts/gelica-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ----- OVERPASS ----- */

/* Regular */
@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/Overpass-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/Overpass-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/Overpass-SemiBold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/Overpass-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/Overpass-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
