.cameraContainer {
  background-color: var(--gray-800);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: calc(100vh - var(--app-header-height));
  overflow: hidden;
}

.overlay {
  align-items: center;
  background-color: var(--gray-800);
  color: var(--paper);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cameraInstructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--app-header-height);
  height: 100%;
}
