.explorerCanvas {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 15rem;
}

/* ----- CHART STYLES ----- */

.barChart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.revenueBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.profitBar {
  background-color: var(--haven-green-light);
  width: 100%;
}

.taxesDueAtHomeBar {
  background-color: var(--haven-green);
  margin-top: 2px;
  width: 100%;
}

.taxesPaidBar {
  background-color: var(--haven-gold);
  border-bottom: 2px solid var(--haven-gold);
  margin-top: 2px;
  width: 100%;
}
