.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}

.formHeader {
  font-family: 'Gelica', serif;
  font-size: 2rem;
  font-weight: 900;
}

.formSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.formLabel {
  font-size: var(--font-xs);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.formInput {
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  box-shadow: 0 0 0 0 transparent;
  box-sizing: border-box;
  color: var(--gray-800);
  font-size: var(--font-sm);
  font-weight: 400;
  min-width: 25rem;
  max-width: 25rem;
  outline: none;
  padding: 0.5rem;
  transition: border-color 0.2s;
  width: 100%;
  &:focus {
    background-color: var(--gray-000);
    border-color: var(--gray-500);
    box-shadow: 0 0 0 2px var(--gray-200);
  }
}
