.taxFormContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.qrSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

/* ----- TABLE FORM ----- */

.mainCard {
  background-color: var(--paper);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100vh - var(--app-header-height) - 4rem);
  padding: 1.5rem;
  width: 100%;
  max-width: 34rem;
  overflow-y: auto;
}

.sideCard {
  background-color: var(--paper);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  max-width: 20rem;
  padding: 1.5rem;
}

.formTable {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formTableHeader {
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  color: var(--gray-650);
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  width: 100%;
  & > .formTableTh {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    padding: 0 0.75rem;
    width: 100%;
    &.rightAligned {
      justify-content: flex-end;
      text-align: right;
      width: 100%;
    }
    & > .section {
      color: var(--haven-green);
      margin-right: 0.75rem;
    }
  }
}

.formTableRows {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formTableRow {
  align-items: flex-start;
  background-color: var(--paper);
  color: var(--gray-800);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  font-size: var(--font-sm);
  transition: background-color 0.2s ease-out;
  width: 100%;
  &:hover {
    background-color: var(--gray-075);
  }
  &:nth-child(odd) {
    background-color: var(--gray-025);
    &:hover {
      background-color: var(--gray-075);
    }
  }
}

.formTableCell {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 0.625rem 0.75rem;
  text-align: left;
  width: 100%;
  &.mainValue {
    width: 40%;
    & .cellValue {
      color: var(--gray-900);
      font-size: var(--font-sm);
      font-weight: 500;
    }
  }
  & .formIndex {
    color: var(--gray-800);
    font-size: var(--font-sm);
    font-weight: 600;
    text-align: center;
    width: 1rem;
  }
  & .cellValue {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    font-weight: 400;
    gap: 0.5rem;
    justify-content: flex-start;
    text-align: left;
    &.rightAligned {
      justify-content: flex-end;
      text-align: right;
      width: 100%;
    }
    &.subValue {
      font-size: var(--font-xs);
      font-weight: 300;
      color: var(--gray-300);
    }
    &.mainValue {
      color: var(--gray-900);
      font-size: var(--font-sm);
      font-weight: 500;
    }
    /* & .formIndex {
      color: var(--gray-800);
      font-size: var(--font-sm);
      font-weight: 600;
      text-align: center;
      width: 1rem;
    } */
  }
}

.countryDecorator {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: center;
}

.countryText {
  font-size: var(--font-xs);
  font-weight: 300;
  color: var(--gray-300);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag {
  height: 0.75rem;
  width: 1rem;
  & img {
    height: 100%;
    width: 100%;
  }
}

/* ----- NORMAL FORM ----- */

.formSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.rangeInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.rangeInputLabel {
  font-size: var(--font-xs);
  font-weight: 500;
  color: var(--gray-600);
}

.rangeInput {
  appearance: none;
  border-radius: 0;
  cursor: ew-resize;
  height: 1rem;
  overflow: hidden;
  width: 240px;
}

::-webkit-slider-runnable-track {
  background: var(--gray-200);
}

::-webkit-slider-thumb {
  appearance: none;
  background: var(--haven-green);
  border: none;
  border-radius: 0;
  box-shadow: -240px 0 0 240px var(--haven-green);
  height: 1rem;
  width: 0;
}

::-moz-range-track {
  background: var(--gray-200);
  height: 1rem;
}

::-moz-range-thumb {
  appearance: none;
  background: var(--haven-green);
  border: none;
  border-radius: 0;
  box-shadow: -300px 0 0 300px var(--haven-green);
  height: 1rem;
  width: 0;
}

::-ms-fill-lower {
  background: var(--gray-200);
}

::-ms-thumb {
  appearance: none;
  background: var(--haven-green);
  border: none;
  border-radius: 0;
  box-shadow: -300px 0 0 300px var(--haven-green);
  height: 1rem;
  width: 0;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-tooltip {
  display: none;
}

.formGroup {
  align-items: center;
  background-color: var(--paper);
  border-bottom: 1px solid var(--gray-150);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  transition: background-color ease-out 1s;
  &:nth-child(even) {
    background-color: var(--gray-000);
    &:hover {
      background-color: var(--green);
      transition: background-color 0.2s ease-in;
    }
  }
  &:hover {
    background-color: var(--green);
    transition: background-color 0.2s ease-in;
  }
  &:first-child {
    border-top: 1px solid var(--gray-150);
  }
  &:last-child {
    border-bottom: 1px solid var(--gray-150);
  }
}

.formLabel {
  font-size: var(--font-sm);
  font-weight: 400;
  flex: 1;
  padding: 0.5rem;
}

.countrySelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-left: 1px solid var(--gray-150);
  width: 10rem;
}

.formInput {
  align-items: center;
  background-color: transparent;
  border: none;
  border-left: 1px solid var(--gray-150);
  border-radius: 0;
  box-shadow: 0 0 0 0 transparent;
  box-sizing: border-box;
  color: var(--gray-800);
  font-size: var(--font-sm);
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  min-width: 5rem;
  max-width: 5rem;
  outline: none;
  padding: 0.5rem;
  text-align: right;
  width: 100%;
  &::placeholder {
    color: var(--gray-300);
  }
}

.formTypeSelectionContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.formTypeSelector {
  align-items: center;
  background-color: var(--gray-025);
  border: 1px solid var(--gray-150);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  padding: 0.75rem 1rem;
  width: 9rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-color: var(--green);
    border-color: var(--green-pure);
  }
}
