.initCard {
  background-color: var(--paper);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5rem;
  width: 100%;
  max-width: 480px;
  overflow-y: auto;
}
