.initCard {
  background-color: var(--paper);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5rem;
  width: 100%;
  max-width: 480px;
  overflow-y: auto;
}

.formTypeSelectionContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.formTypeSelector {
  align-items: center;
  background-color: var(--gray-025);
  border: 1px solid var(--gray-150);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  padding: 0.75rem 1rem;
  width: 9rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-color: var(--green);
    border-color: var(--green-pure);
  }
}
